obj/Debug/net8.0/DasherClass.AssemblyInfo.cs
obj/Debug/net8.0/DasherClass.AssemblyInfoInputs.cache
obj/Debug/net8.0/DasherClass.assets.cache
obj/Debug/net8.0/DasherClass.csproj.AssemblyReference.cache
obj/Debug/net8.0/DasherClass.GeneratedMSBuildEditorConfig.editorconfig
*.cache
